# Tạo file .env ở thưc mục gỗc (duplicate file này xoá example`) và điền các giá trị sau để setup các command
# install-9router-proxy.sh, install-harness-delegate.sh, 
proxy_key=skxxx-yyxxzz 
proxy_host=https://proxy.example.com/v1
#fallback key cho deepseek khi proxy fail, nếu không có thì để trống
deepseek_api_key=skxxx-yyxxzz